*{
    margin: 0; padding: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}


.bar{
    margin-right: 100px;
}

.company_Name{
    margin-left: 100px;
}


.wel{

    color: blue;
}

.backgroundpic{
    background-color:rgb(209, 231, 252);
}


.mic{
    margin-left: 75px;
}

.servicesHeding{
    color: blue;
    
}

.servicesHr{
  background-color: blue;
}

.cardColor{
    border: solid rgb(209, 231, 252);
    margin-top: 10px;

}

.aboutHading{
    color: blue;
}

.mylogo{
    border-radius: 25px;
    background-color: white;
    width: 100px;
    height: 100px;
}


.buttons a{
    width: 120px; 
    margin-top: 6px;
}

.row{
    bottom: 0;
    right: 0;
    justify-content: center;
}

.logo{
    border: solid rgb(209, 231, 252);
    margin-top: 45px;
    border-radius: 8px;
}

.comname{
    padding-right: 20px;
    background-color: unset !important;
    color: white !important;
    text-decoration:none;
  

}

.privacy{
    padding-right: 20px;
    background-color: unset !important;
    color: white !important;
    text-decoration:none;

}

.trem{
    padding-right: 20px;
    background-color: unset !important;
    color: white !important;
    text-decoration:none;

}

.date{
    color: white; 
    padding-right: 20px;

}


.contactImg{
    width: 50%;
    margin-top: 2%;
    border: solid rgb(209, 231, 252);
    border-radius: 10px;
  
}

.footerColor{
    background-color: black;
    padding-bottom: 10px;
}